.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
}

.App-link {
  color: #61dafb;
}

.pad {
  height: 300px;
  width: 300px;
  margin: 25px;
  background: whitesmoke;
  float: left;
  font-size: 15px;
  text-align: left;
}

.newMemoButton {
  background: gray;
  color: white;
  border: solid;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 290px;
  font-size: 15px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 290px;
  font-size: 15px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.pad:hover .deleteButton {
  visibility: visible;
}